
.icon-cog:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */